body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #111827;
  position: sticky;
  top: 0;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 40px;
}

.hero button {
  padding: 10px 20px;
  margin-top: 20px;
  background: #3b82f6;
  border: none;
  color: white;
  cursor: pointer;
}

/* SECTIONS */
.section {
  padding: 60px 20px;
  text-align: center;
}

/* PROJECTS */
.project-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #1f2937;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
}